*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  
  h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  img {
    width: 100px;
    height: 100px;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s; 
  }
  header.sticky {
    padding: 10px 100px;
    background: #ffffff;
  }
  header .logo {
    position: relative;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
  }
  header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    header ul li {
    position: relative;
    list-style: none;
    }
    
    header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #000000;
    letter-spacing: 4px;
    font-weight: 500px;
    transition: 0.6s;
    }

    .banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(mage-from-rawpixel-id-3864343-jpeg\ \(1\).jpg);
    background-size: cover;
    }
    .banner h1 {
    position: relative;
    font-size: 45px;
    bottom: -440px;
    animation: fadeIn 8s;
    -webkit-animation: fadeIn 8s;
    -moz-animation: fadeIn 8s;
    -o-animation: fadeIn 8s;
    -ms-animation: fadeIn 8s; 
    }
    .banner p {
      text-align: center;
      position: relative;
      font-size: 23px;
      bottom: -400px;
      animation: fadeIn 12s;
      -webkit-animation: fadeIn 12s;
      -moz-animation: fadeIn 12s;
      -o-animation: fadeIn 12s;
      -ms-animation: fadeIn 12s; 
    }

    footer {
    background-color: #ffffff;
    }

    .footerContainer {
    width: 100%;
    padding: 50px 0px 20px;
    }

    .Contact p {
    color: #000000b7;
    text-align: center;
    }

    .Bmove {
    position: relative;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;
    bottom: -440px;
    }

    .button{
    font-size:18px;
    text-decoration:none;
    color:#000000;
    border:#000000 1px solid;
    padding:10px 20px;
    border-radius:10px;
    margin-top:20px;
    animation: fadeIn 12s;
    -webkit-animation: fadeIn 12s;
    -moz-animation: fadeIn 12s;
    -o-animation: fadeIn 12s;
    -ms-animation: fadeIn 12s;
    }

    .button:hover{
    background:#000000;
    color:#fff;
    }

    #fp {
      display: flex;
      text-align: center;
    }

    #fp div {
      padding: 20px;
      flex-grow: 1;
    }

    #fp .box-1, #fp .box-3 {
      background: #000000;
      color: #fff;
    } 

    #fp .box-2 {
    max-width: 650px;
    }

    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }
      
      @-moz-keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }
      
      @-webkit-keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }
      
      @-o-keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }
      
      @-ms-keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }